.Header{
    background-color:#131921;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 20px
}

.logo,.logo img {
    width:120px;
    height:30px
}


.search-container input[type="text"]{
    width:500px;
    border:none;
    height:40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 10px;
    font-size: 16px;
}

.search-container input[type="text"]:focus{
    outline:1px solid #febd69
}
.search-container button{
    height: 40px;
    border: none;
    padding:0 10px;
    cursor: pointer;
    background-color: #febd69;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.address,.sign-in-container, .orders-container{
    display:flex;
    flex-direction:column;
    font-size: 14px;
}

.address .greet,.sign-in-container .greet, .orders-container .greet{
    font-size:12px;
    color:#cccccc
}

.cart {
    font-size: 14px;
}